async-lru==2.0.5
rich-toolkit==0.15.1
nvidia-cuda-runtime-cu12==12.8.90
llguidance==1.3.0
wcwidth==0.2.14
cuda-bindings==13.0.3
typer==0.20.0
fastapi==0.121.1
hf-xet==1.2.0
httptools==0.7.1
depyf==0.20.0
sentencepiece==0.2.1
protobuf==6.33.1
httpx==0.28.1
multiprocess==0.70.16
h11==0.16.0
babel==2.17.0
supervisor==4.3.0
pyarrow==22.0.0
torchvision==0.24.0
docstring_parser==0.17.0
rfc3987-syntax==1.1.0
prompt_toolkit==3.0.52
nvidia-cudnn-frontend==1.16.0
json5==0.12.1
aiosignal==1.4.0
python-dateutil==2.9.0.post0
loguru==0.7.3
sentry-sdk==2.44.0
typeguard==4.4.4
ninja==1.13.0
setproctitle==1.3.7
multidict==6.7.0
networkx==3.4.2
filelock==3.20.0
datasets==4.3.0
jupyterlab_server==2.28.0
fsspec==2025.9.0
llvmlite==0.44.0
xxhash==3.6.0
nvidia-cufft-cu12==11.3.3.83
MarkupSafe==3.0.3
GitPython==3.1.45
jiter==0.12.0
unsloth_zoo==2025.11.4
jsonpointer==3.0.0
python-multipart==0.0.20
shtab==1.8.0
cffi==2.0.0
tyro==0.9.35
tqdm==4.67.1
ipython==8.37.0
argon2-cffi==25.1.0
executing==2.2.1
watchfiles==1.1.1
pip==25.2
comm==0.2.3
pydantic==2.12.4
nvidia-cufile-cu12==1.13.1.3
email-validator==2.3.0
mpmath==1.3.0
nvidia-ml-py==13.580.82
cuda-python==13.0.3
astor==0.8.1
platformdirs==4.5.0
yarl==1.22.0
psutil==7.1.3
aiohappyeyeballs==2.6.1
torchao==0.14.1
nvidia-curand-cu12==10.3.9.90
rich==14.2.0
tabulate==0.9.0
annotated-types==0.7.0
typing_extensions==4.15.0
arrow==1.4.0
mdurl==0.1.2
jmespath==1.0.1
markdown-it-py==4.0.0
ray==2.51.1
xformers==0.0.33.post1
torch==2.9.0
widgetsnbextension==4.0.15
triton==3.5.0
typing-inspection==0.4.2
diskcache==5.6.3
nbclient==0.10.2
websockets==15.0.1
fastjsonschema==2.21.2
click==8.2.1
packaging==25.0
soundfile==0.13.1
parso==0.8.5
soupsieve==2.8
lark==1.2.2
nvidia-nccl-cu12==2.27.5
nvidia-nvshmem-cu12==3.3.20
jupyter==1.1.1
pure_eval==0.2.3
matplotlib-inline==0.2.1
accelerate==1.12.0
propcache==0.4.1
compressed-tensors==0.12.2
msgspec==0.19.0
python-dotenv==1.2.1
tokenizers==0.22.1
hf_transfer==0.1.9
openai-harmony==0.0.8
cupy-cuda12x==13.6.0
rfc3986-validator==0.1.1
jupyter_core==5.9.1
async-timeout==5.0.1
gguf==0.17.1
partial-json-parser==0.2.1.1.post6
transformers==4.57.1
frozendict==2.4.7
nvidia-cusparse-cu12==12.5.8.93
blake3==1.0.8
jsonschema-specifications==2025.9.1
wandb==0.23.0
nvidia-cutlass-dsl==4.3.0
unsloth==2025.11.3
nvidia-cuda-cupti-cu12==12.8.90
anthropic==0.71.0
beautifulsoup4==4.14.2
tinycss2==1.4.0
websocket-client==1.9.0
sympy==1.14.0
jupyter_client==8.6.3
apache-tvm-ffi==0.1.3
uvicorn==0.38.0
numba==0.61.2
rpds-py==0.28.0
nvidia-cudnn-cu12==9.10.2.21
uvloop==0.22.1
referencing==0.37.0
sniffio==1.3.1
stack-data==0.6.3
jupyter-console==6.6.3
safetensors==0.7.0
attrs==25.4.0
idna==3.11
jsonschema==4.25.1
tiktoken==0.12.0
prometheus_client==0.23.1
notebook==7.4.7
terminado==0.18.1
zipp==3.23.0
regex==2025.11.3
nbformat==5.10.4
decorator==5.2.1
asttokens==3.0.0
nvidia-cusolver-cu12==11.7.3.90
frozenlist==1.8.0
charset-normalizer==3.4.4
nvidia-nvjitlink-cu12==12.8.93
jupyter-events==0.12.0
urllib3==2.5.0
aiohttp==3.13.2
PyYAML==6.0.3
traitlets==5.14.3
fastapi-cloud-cli==0.3.1
debugpy==1.8.17
cut-cross-entropy==25.1.1
vllm==0.11.2
six==1.17.0
interegular==0.3.3
tornado==6.5.2
diffusers==0.35.2
exceptiongroup==1.3.1
jupyter_server==2.17.0
Send2Trash==1.8.3
mistune==3.1.4
bitsandbytes==0.48.2
importlib_metadata==8.7.0
jupyterlab_pygments==0.3.0
distro==1.9.0
tomli==2.3.0
bleach==6.3.0
mistral_common==1.8.5
nvidia-cuda-nvrtc-cu12==12.8.93
flashinfer-python==0.5.2
pycparser==2.23
pydantic-extra-types==2.10.6
numpy==2.2.6
torchaudio==2.9.0
wheel==0.45.1
py-cpuinfo==9.0.0
nest-asyncio==1.6.0
nvidia-cublas-cu12==12.8.4.1
model-hosting-container-standards==0.1.9
uri-template==1.3.0
annotated-doc==0.0.4
cuda-pathfinder==1.3.2
pandas==2.3.3
cachetools==6.2.1
starlette==0.49.3
openai==2.7.2
cloudpickle==3.1.2
ipykernel==7.1.0
gitdb==4.0.12
ptyprocess==0.7.0
setuptools==80.9.0
pillow==12.0.0
outlines_core==0.2.11
pycountry==24.6.1
certifi==2025.11.12
jupyter-lsp==2.3.0
nvidia-cusparselt-cu12==0.7.1
webencodings==0.5.1
einops==0.8.1
Jinja2==3.1.6
smmap==5.0.2
shellingham==1.5.4
opencv-python-headless==4.12.0.88
requests==2.32.5
huggingface-hub==0.36.0
isoduration==20.11.0
xgrammar==0.1.25
fastrlock==0.8.3
argon2-cffi-bindings==25.1.0
anyio==4.11.0
pexpect==4.9.0
pybase64==1.4.2
pandocfilters==1.5.1
pydantic_core==2.41.5
cbor2==5.7.1
nvidia-nvtx-cu12==12.8.90
jupyterlab==4.4.10
soxr==1.0.0
prometheus-fastapi-instrumentator==7.1.0
rfc3339-validator==0.1.4
trl==0.23.0
notebook_shim==0.2.4
defusedxml==0.7.1
dnspython==2.8.0
tzdata==2025.2
pyzmq==27.1.0
jupyter_server_terminals==0.5.3
python-json-logger==4.0.0
httpcore==1.0.9
nbconvert==7.16.6
webcolors==25.10.0
Pygments==2.19.2
fastapi-cli==0.0.16
overrides==7.7.0
pytz==2025.2
rignore==0.7.6
ipywidgets==8.1.8
jupyterlab_widgets==3.0.16
jedi==0.19.2
fqdn==1.5.1
lm-format-enforcer==0.11.3
msgpack==1.1.2
dill==0.4.0
peft==0.18.0
scipy==1.15.3
zipp==3.19.2
importlib_metadata==8.0.0
inflect==7.3.1
typing_extensions==4.12.2
autocommand==2.2.2
jaraco.functools==4.0.1
more-itertools==10.3.0
backports.tarfile==1.2.0
tomli==2.0.1
wheel==0.45.1
jaraco.context==5.3.0
packaging==24.2
jaraco.collections==5.1.0
platformdirs==4.2.2
jaraco.text==3.12.1
typeguard==4.3.0
